html,
body {
  overflow: -moz-scrollbars-none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
  scrollbar-width: none;
  /* For Firefox */
}

:root {
  --core_background_color: #624A2E;
  --text_color: #fff;
}

body::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}

/* Georgia Pro Regular */
@font-face {
  font-family: 'GeorgiaPro';
  src: url('fonts/GeorgiaPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Georgia Pro Bold */
@font-face {
  font-family: 'GeorgiaPro';
  src: url('fonts/GeorgiaPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'GeorgiaPro', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: black;
  background-color: white;
  margin: 0;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'GeorgiaPro', sans-serif;
  font-weight: bold;
  font-style: normal;
}

/* Header and navigation */

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.main-logo-image {
  max-width: 400px;
}

div.landing-screen {
  width: 100vw;
  height: 100vh;
  background-image: url('archive/images/farm_images/cow_standing_4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.landing-screen .logo-block {
  background-color: white;
  padding: 20px;
}

div.landing-screen div.logo-block ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: -35px;
  margin-left: -7px;
}

div.landing-screen div.logo-block li {
  list-style: none;
  padding: 0 45px;
  margin: 0;
  color: black;
}

div.landing-screen div.logo-block a {
  text-decoration: none;
  color: inherit;
}

/* Deals with landing screen turning on and off */ 
my-header {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  position: fixed; /* Keeps it at the top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures it's above other content */
}

header {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
} 

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  list-style-type: none;
  margin-top: -55px;
}

header nav ul li {
  margin: 0 80px;
}

header nav ul li a {
  list-style-type: none;
  color: black;
  text-decoration: none;
}

header div.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  color: black;
  padding: 0;
  width: 100%;
}

img.main-logo-image {
  width: 100%;
}

my-header.visible {
  opacity: 1;
  width: 100vw;
  display: flex;
}

/* Gist section */

div.gist-section {
  display: flex;
  color: white;
  background-color: black;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: space-around;;
}

div.gist-section h3 {
  font-size: 28px;
  align-self: center;
}

div.gist-section img {
  max-width: 400px;
}

/* Footer Section */

footer {
  background-color: #73432C;
  color: white;
  text-align: center;
  margin-bottom: 0 !important;
  padding: 30px;
}
